/* Reset b치sico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fuentes */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #a4a4a4;
    color: #333;
}

/* Estilos del encabezado y barra de navegaci칩n */
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

header nav ul li a:hover {
    color: #ffcc00;
}

/* Estilos del contenido principal */
main {
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Encabezados principales */
h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

/* Tabla de videojuegos */
table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #333;
    color: #fff;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

/* Formulario de creaci칩n */
form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-size: 1.1rem;
    margin-bottom: 5px;
}

input, select, button {
    padding: 10px;
    font-size: 1rem;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="number"], input[type="text"] {
    font-size: 1rem;
}

button {
    background-color: #333;
    color: #fff;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #ffcc00;
}

/* Estilos para los formularios en m칩vil */
@media (max-width: 768px) {
    table th, table td {
        font-size: 14px;
        padding: 8px;
    }

    .form-group {
        margin-bottom: 10px;
    }

    h1 {
        font-size: 2rem;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin: 10px 0;
    }
}
